.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #e5e7eb;
  background-color: white;
}

.headerTitle {
  font-size: 1.25rem;
  font-weight: 500;
  color: #111827;
}

.headerInput {
  margin-left: 16px;
  max-width: 300px;
  height: 2rem;
  padding: 2px 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #e5e7eb;
  color: #111827;
  font-size: 1.25rem;
}
